/* #region Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --var-header_bg: #ADD8E6;
    --var-header_obj: #DAA520;
    --var-banner_bg: #00008B;
    --var-banner_obj: #EE82EE;
    --var-white_section: #FFFFFF;
    --var-grey_section: #D3D3D3;
    --var-section_obj1: #1E90FF;
    --var-section_obj2: #FFC0CB;
    --var-section_obj3: #228B22;
    --var-footer_bg: #23272A;
    --var-footer_obj1: #F08080;
    --var-footer_obj2: #20B2AA;
    --var-footer_bottom: #7FFFD4;
    --var-footer_obj3: #FFB6C1;
}

ul {
    list-style-type: none;
}

span {
    padding: 0 1rem;
}

hr {
    width: 70%;
}

/* #endregion Utilities */

/* #region Debug rules */

/* #region Header debug rules */
.debug #site_header {
    height: 80px;
    background-color: var(--var-header_bg);
}

.debug .header_obj {
    background-color: var(--var-header_obj);
    border: 2px dashed black;
}

/* #endregion Header debug rules */

/* #region Banner debug rules */
.debug .banner_container {
    height: 500px;
    background-color: var(--var-banner_bg);
}

.debug .banner {
    width: 50%;
    height: 80%;
    background-color: var(--var-banner_obj);
    border: 2px dashed black;
}

/* #endregion Banner debug rules */

/* #region Sections debug rules */
.debug .main_section_container {
    width: 70%;
    height: 600px;
}

.debug .last_section_container {
    height: 1000px;
}

.white_bg {
    background-color: var(--var-white_section);
}

.grey_bg {
    background-color: var(--var-grey_section);
}

.debug .section_obj1,
.section_obj2 {
    height: 80%;
    border: 2px dashed black;
}

.debug .section_obj3 {
    width: 70%;
    height: 90%;
}

.debug .section_obj1 {
    background-color: var(--var-section_obj1);
}

.debug .section_obj2 {
    background-color: var(--var-section_obj2);
}

.debug .section_obj3 {
    background-color: var(--var-section_obj3);
}

/* #endregion Sections debug rules */

/* #region Footer debug rules */

.debug #site_footer {
    height: 700px;
    background-color: var(--var-footer_bg);
}

.debug .footer_top {
    width: 70%;
    height: 85%;
}

.debug .footer_bottom {
    width: 70%;
    height: 10%;
    background-color: var(--var-footer_bottom);
}

.debug .footer_obj1 {
    height: 90%;
    background-color: var(--var-footer_obj1);
    border: 2px dashed black;
}

.debug .footer_obj2 {
    height: 90%;
    background-color: var(--var-footer_obj2);
    border: 2px dashed white;
}

.debug .footer_obj3 {
    height: 40%;
    background-color: var(--var-footer_obj3);
    border: 2px dashed black;
}

/* #endregion Footer debug rules */

/* #endregion Debug rules */

/* #region Header */

#site_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_obj {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.logo,
.login {
    width: 15%;
}

.logo {
    justify-content: flex-start;
}

.links {
    width: 40%;
    gap: 1rem;
}

.login {
    justify-content: flex-end;
}

/* #endregion Header */

/* #region Main */

/* Banner */
.banner_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main section */
.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_section_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last_section_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_obj1 {
    flex-grow: 1.5;
}

.section_obj2 {
    flex-grow: 1;
}

/* #endregion Main */

/* #region Footer */

#site_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_obj1 {
    flex-grow: 1.2;
}

.footer_obj2 {
    flex-grow: 1;
}

.footer_obj3 {
    display: flex;
}

/* #endregion Footer */